@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #ffc8dd;
  --background-end-rgb: #ffafcc;
}
html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
}
